@use "node_modules/@enveritas/design-tokens/scss/index" as eds;

@keyframes pulse {
  0% {
    background-color: eds.$color-gray-200; /* Starting color */
  }
  50% {
    background-color: eds.$color-navy-200; /* Starting color */
  }
  100% {
    background-color: eds.$color-gray-200; /* Starting color */
  }
}

@mixin pulse {
  animation: pulse 0.75s ease infinite;
}

.pill {
  height: 32px;
  width: 70px;
  background-color: eds.$color-gray-200;
  border-radius: eds.$border-radius-1;
  @include pulse;
}

.small {
  height: 12px;
  width: 20px;
  margin: 0 eds.$spacing-1;
}

.border {
  border: 2px solid white;
}

.gap {
  height: eds.$spacing-9;
}
